body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1553px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u367 {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:500px;
  overflow:hidden;
  visibility:hidden;
}
#u367_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:500px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u367_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:500px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u368 {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:500px;
}
#u369 {
  position:absolute;
  left:2px;
  top:242px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:20px;
}
#u370 {
  position:absolute;
  left:15px;
  top:129px;
  width:280px;
  height:170px;
  text-align:left;
  line-height:20px;
}
#u371 {
  position:absolute;
  left:2px;
  top:77px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u372_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:60px;
}
#u372 {
  position:absolute;
  left:22px;
  top:168px;
  width:267px;
  height:60px;
  line-height:20px;
}
#u373 {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  word-wrap:break-word;
}
#u374_div {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:32px;
  background:inherit;
  background-color:rgba(93, 171, 158, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u374 {
  position:absolute;
  left:34px;
  top:258px;
  width:244px;
  height:32px;
  font-size:14px;
  color:#FFFFFF;
}
#u375 {
  position:absolute;
  left:2px;
  top:7px;
  width:240px;
  word-wrap:break-word;
}
#u376_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:24px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u376 {
  position:absolute;
  left:262px;
  top:134px;
  width:27px;
  height:24px;
  font-size:28px;
}
#u377 {
  position:absolute;
  left:2px;
  top:-4px;
  width:23px;
  word-wrap:break-word;
}
#u378_div {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:427px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u378 {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:427px;
}
#u379 {
  position:absolute;
  left:2px;
  top:206px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:375px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u380 {
  position:absolute;
  left:0px;
  top:36px;
  width:307px;
  height:375px;
}
#u381 {
  position:absolute;
  left:2px;
  top:180px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u382_div {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#5DAB9E;
  text-align:left;
}
#u382 {
  position:absolute;
  left:4px;
  top:36px;
  width:299px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#5DAB9E;
  text-align:left;
}
#u383 {
  position:absolute;
  left:2px;
  top:13px;
  width:295px;
  word-wrap:break-word;
}
#u384_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:14px;
}
#u384 {
  position:absolute;
  left:69px;
  top:53px;
  width:12px;
  height:14px;
}
#u385 {
  position:absolute;
  left:2px;
  top:-1px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u386_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:14px;
}
#u386 {
  position:absolute;
  left:189px;
  top:53px;
  width:16px;
  height:14px;
}
#u387 {
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u388_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u388 {
  position:absolute;
  left:87px;
  top:53px;
  width:92px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u389 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u390_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u390 {
  position:absolute;
  left:210px;
  top:53px;
  width:92px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u391 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u392 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u393_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u393 {
  position:absolute;
  left:18px;
  top:108px;
  width:60px;
  height:60px;
}
#u394 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u395_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u395 {
  position:absolute;
  left:8px;
  top:168px;
  width:80px;
  height:27px;
  font-size:12px;
  color:#666666;
}
#u396 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u397 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u398_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u398 {
  position:absolute;
  left:123px;
  top:108px;
  width:60px;
  height:60px;
}
#u399 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u400_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u400 {
  position:absolute;
  left:107px;
  top:168px;
  width:94px;
  height:27px;
  font-size:12px;
  color:#666666;
}
#u401 {
  position:absolute;
  left:2px;
  top:4px;
  width:90px;
  word-wrap:break-word;
}
#u402 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u403_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u403 {
  position:absolute;
  left:228px;
  top:108px;
  width:60px;
  height:60px;
}
#u404 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u405_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u405 {
  position:absolute;
  left:219px;
  top:168px;
  width:80px;
  height:27px;
  font-size:12px;
  color:#666666;
}
#u406 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u407 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u408_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u408 {
  position:absolute;
  left:18px;
  top:211px;
  width:60px;
  height:60px;
}
#u409 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u410_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u410 {
  position:absolute;
  left:8px;
  top:271px;
  width:80px;
  height:27px;
  font-size:12px;
  color:#666666;
}
#u411 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u412 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u413_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u413 {
  position:absolute;
  left:123px;
  top:211px;
  width:60px;
  height:60px;
}
#u414 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u415_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u415 {
  position:absolute;
  left:114px;
  top:271px;
  width:80px;
  height:27px;
  font-size:12px;
  color:#666666;
}
#u416 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u417 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u418_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u418 {
  position:absolute;
  left:228px;
  top:211px;
  width:60px;
  height:60px;
}
#u419 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u420 {
  position:absolute;
  left:219px;
  top:271px;
  width:80px;
  height:27px;
  font-size:12px;
  color:#666666;
}
#u421 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u422 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u423_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u423 {
  position:absolute;
  left:18px;
  top:312px;
  width:60px;
  height:60px;
}
#u424 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u425_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u425 {
  position:absolute;
  left:8px;
  top:372px;
  width:80px;
  height:27px;
  font-size:12px;
  color:#666666;
}
#u426 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u427_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:40px;
  background:inherit;
  background-color:rgba(93, 171, 158, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u427 {
  position:absolute;
  left:0px;
  top:413px;
  width:309px;
  height:40px;
  font-size:14px;
  color:#FFFFFF;
}
#u428 {
  position:absolute;
  left:2px;
  top:11px;
  width:305px;
  word-wrap:break-word;
}
#u429_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u429 {
  position:absolute;
  left:0px;
  top:455px;
  width:309px;
  height:45px;
}
#u430 {
  position:absolute;
  left:2px;
  top:14px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u431 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u432_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:18px;
}
#u432 {
  position:absolute;
  left:252px;
  top:460px;
  width:17px;
  height:18px;
}
#u433 {
  position:absolute;
  left:2px;
  top:1px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u434_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u434 {
  position:absolute;
  left:238px;
  top:482px;
  width:45px;
  height:14px;
  font-size:11px;
  color:#666666;
}
#u435 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u436 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u437_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:18px;
}
#u437 {
  position:absolute;
  left:147px;
  top:460px;
  width:17px;
  height:18px;
}
#u438 {
  position:absolute;
  left:2px;
  top:1px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u439_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#1ABC9C;
}
#u439 {
  position:absolute;
  left:133px;
  top:482px;
  width:45px;
  height:14px;
  font-size:11px;
  color:#1ABC9C;
}
#u440 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u441 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u442_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u442 {
  position:absolute;
  left:24px;
  top:481px;
  width:45px;
  height:14px;
  font-size:11px;
  color:#666666;
}
#u443 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u444_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:18px;
}
#u444 {
  position:absolute;
  left:35px;
  top:460px;
  width:23px;
  height:18px;
  color:#666666;
}
#u445 {
  position:absolute;
  left:2px;
  top:1px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u446_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1142px;
  height:1087px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u446 {
  position:absolute;
  left:411px;
  top:0px;
  width:1142px;
  height:1087px;
  text-align:left;
}
#u447 {
  position:absolute;
  left:2px;
  top:2px;
  width:1138px;
  word-wrap:break-word;
}
#u449 {
  position:absolute;
  left:442px;
  top:256px;
  width:1045px;
  height:800px;
}
#u450_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:30px;
}
#u450 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:30px;
  color:#FF0000;
}
#u451 {
  position:absolute;
  left:2px;
  top:7px;
  width:396px;
  word-wrap:break-word;
}
#u452_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u452 {
  position:absolute;
  left:400px;
  top:0px;
  width:120px;
  height:30px;
  color:#FF0000;
}
#u453 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u454_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u454 {
  position:absolute;
  left:520px;
  top:0px;
  width:120px;
  height:30px;
  color:#FF0000;
}
#u455 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u456_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:30px;
}
#u456 {
  position:absolute;
  left:640px;
  top:0px;
  width:400px;
  height:30px;
  color:#FF0000;
}
#u457 {
  position:absolute;
  left:2px;
  top:7px;
  width:396px;
  word-wrap:break-word;
}
#u458_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:280px;
}
#u458 {
  position:absolute;
  left:0px;
  top:30px;
  width:400px;
  height:280px;
  color:#FF0000;
}
#u459 {
  position:absolute;
  left:2px;
  top:132px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u460_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:280px;
}
#u460 {
  position:absolute;
  left:400px;
  top:30px;
  width:120px;
  height:280px;
  color:#FF0000;
}
#u461 {
  position:absolute;
  left:2px;
  top:132px;
  width:116px;
  word-wrap:break-word;
}
#u462_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:280px;
}
#u462 {
  position:absolute;
  left:520px;
  top:30px;
  width:120px;
  height:280px;
  color:#FF0000;
}
#u463 {
  position:absolute;
  left:2px;
  top:132px;
  width:116px;
  word-wrap:break-word;
}
#u464_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:280px;
}
#u464 {
  position:absolute;
  left:640px;
  top:30px;
  width:400px;
  height:280px;
  text-align:left;
}
#u465 {
  position:absolute;
  left:2px;
  top:12px;
  width:396px;
  word-wrap:break-word;
}
#u466_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:60px;
}
#u466 {
  position:absolute;
  left:0px;
  top:310px;
  width:400px;
  height:60px;
  color:#FF0000;
}
#u467 {
  position:absolute;
  left:2px;
  top:22px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u468_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
}
#u468 {
  position:absolute;
  left:400px;
  top:310px;
  width:120px;
  height:60px;
  color:#FF0000;
}
#u469 {
  position:absolute;
  left:2px;
  top:22px;
  width:116px;
  word-wrap:break-word;
}
#u470_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
}
#u470 {
  position:absolute;
  left:520px;
  top:310px;
  width:120px;
  height:60px;
  color:#FF0000;
}
#u471 {
  position:absolute;
  left:2px;
  top:22px;
  width:116px;
  word-wrap:break-word;
}
#u472_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:60px;
}
#u472 {
  position:absolute;
  left:640px;
  top:310px;
  width:400px;
  height:60px;
  color:#FF0000;
  text-align:left;
}
#u473 {
  position:absolute;
  left:2px;
  top:22px;
  width:396px;
  word-wrap:break-word;
}
#u474_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:365px;
}
#u474 {
  position:absolute;
  left:0px;
  top:370px;
  width:400px;
  height:365px;
  color:#FF0000;
}
#u475 {
  position:absolute;
  left:2px;
  top:174px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u476_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:365px;
}
#u476 {
  position:absolute;
  left:400px;
  top:370px;
  width:120px;
  height:365px;
  color:#FF0000;
}
#u477 {
  position:absolute;
  left:2px;
  top:174px;
  width:116px;
  word-wrap:break-word;
}
#u478_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:365px;
}
#u478 {
  position:absolute;
  left:520px;
  top:370px;
  width:120px;
  height:365px;
  color:#FF0000;
}
#u479 {
  position:absolute;
  left:2px;
  top:174px;
  width:116px;
  word-wrap:break-word;
}
#u480_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:365px;
}
#u480 {
  position:absolute;
  left:640px;
  top:370px;
  width:400px;
  height:365px;
  text-align:left;
  line-height:20px;
}
#u481 {
  position:absolute;
  left:2px;
  top:62px;
  width:396px;
  word-wrap:break-word;
}
#u482_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:60px;
}
#u482 {
  position:absolute;
  left:0px;
  top:735px;
  width:400px;
  height:60px;
  color:#FF0000;
}
#u483 {
  position:absolute;
  left:2px;
  top:22px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u484_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
}
#u484 {
  position:absolute;
  left:400px;
  top:735px;
  width:120px;
  height:60px;
  color:#FF0000;
}
#u485 {
  position:absolute;
  left:2px;
  top:22px;
  width:116px;
  word-wrap:break-word;
}
#u486_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
}
#u486 {
  position:absolute;
  left:520px;
  top:735px;
  width:120px;
  height:60px;
  color:#FF0000;
}
#u487 {
  position:absolute;
  left:2px;
  top:22px;
  width:116px;
  word-wrap:break-word;
}
#u488_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:60px;
}
#u488 {
  position:absolute;
  left:640px;
  top:735px;
  width:400px;
  height:60px;
  text-align:left;
  line-height:20px;
}
#u489 {
  position:absolute;
  left:2px;
  top:20px;
  width:396px;
  word-wrap:break-word;
}
#u491_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:42px;
}
#u491 {
  position:absolute;
  left:498px;
  top:577px;
  width:319px;
  height:42px;
}
#u492 {
  position:absolute;
  left:2px;
  top:13px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u493_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:319px;
}
#u493 {
  position:absolute;
  left:507px;
  top:652px;
  width:302px;
  height:319px;
}
#u494 {
  position:absolute;
  left:2px;
  top:152px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u495_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:30px;
  background:inherit;
  background-color:rgba(93, 171, 158, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u495 {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:30px;
  font-size:12px;
  color:#FFFFFF;
}
#u496 {
  position:absolute;
  left:2px;
  top:8px;
  width:305px;
  word-wrap:break-word;
}
#u497 {
  position:absolute;
  left:0px;
  top:31px;
}
#u497_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:309px;
  height:469px;
  background-image:none;
}
#u497_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u498_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:469px;
  background:inherit;
  background-color:rgba(134, 134, 134, 0.686274509803922);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u498 {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:469px;
}
#u499 {
  position:absolute;
  left:2px;
  top:226px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u500 {
  position:absolute;
  left:102px;
  top:77px;
  width:0px;
  height:0px;
}
#u500_seg0 {
  position:absolute;
  left:-46px;
  top:-21px;
  width:54px;
  height:15px;
  -webkit-transform:rotate(-136deg);
  -moz-transform:rotate(-136deg);
  -ms-transform:rotate(-136deg);
  transform:rotate(-136deg);
}
#u500_seg1 {
  position:absolute;
  left:-44px;
  top:-59px;
  width:65px;
  height:13px;
  -webkit-transform:rotate(-37deg);
  -moz-transform:rotate(-37deg);
  -ms-transform:rotate(-37deg);
  transform:rotate(-37deg);
}
#u500_seg2 {
  position:absolute;
  left:-2px;
  top:-76px;
  width:20px;
  height:20px;
}
#u501 {
  position:absolute;
  left:-83px;
  top:-40px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u502_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u502 {
  position:absolute;
  left:81px;
  top:50px;
  width:155px;
  height:32px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u503 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u504_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:26px;
  background:inherit;
  background-color:rgba(93, 171, 158, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u504 {
  position:absolute;
  left:106px;
  top:101px;
  width:94px;
  height:26px;
}
#u505 {
  position:absolute;
  left:2px;
  top:5px;
  width:90px;
  word-wrap:break-word;
}
#u506_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:37px;
}
#u506 {
  position:absolute;
  left:499px;
  top:413px;
  width:318px;
  height:37px;
}
#u507 {
  position:absolute;
  left:2px;
  top:10px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u508_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:45px;
}
#u508 {
  position:absolute;
  left:501px;
  top:1000px;
  width:314px;
  height:45px;
}
#u509 {
  position:absolute;
  left:2px;
  top:14px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
