body {
  margin:0px;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  position:static;
  left:auto;
  width:999px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2485 {
  position:absolute;
  left:-1px;
  top:38px;
}
#u2485_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:310px;
  height:37px;
  background-image:none;
}
#u2485_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2486_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u2486 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:37px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u2487 {
  position:absolute;
  left:2px;
  top:10px;
  width:306px;
  word-wrap:break-word;
}
#u2488_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#1E1E1E;
  text-align:left;
}
#u2488 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:37px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#1E1E1E;
  text-align:left;
}
#u2488_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#1E1E1E;
  text-align:left;
}
#u2488.mouseDown {
}
#u2489 {
  position:absolute;
  left:20px;
  top:10px;
  width:61px;
  word-wrap:break-word;
}
#u2490_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:463px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2490 {
  position:absolute;
  left:0px;
  top:75px;
  width:309px;
  height:463px;
}
#u2491 {
  position:absolute;
  left:2px;
  top:224px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2492_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:102px;
}
#u2492 {
  position:absolute;
  left:44px;
  top:143px;
  width:219px;
  height:101px;
}
#u2493 {
  position:absolute;
  left:2px;
  top:42px;
  width:215px;
  word-wrap:break-word;
}
#u2494_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2494 {
  position:absolute;
  left:84px;
  top:295px;
  width:140px;
  height:40px;
  font-size:14px;
}
#u2495 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u2496_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u2496 {
  position:absolute;
  left:122px;
  top:266px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u2497 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2498_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2498 {
  position:absolute;
  left:-1px;
  top:493px;
  width:309px;
  height:45px;
}
#u2499 {
  position:absolute;
  left:2px;
  top:14px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2500 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2501_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:18px;
}
#u2501 {
  position:absolute;
  left:251px;
  top:498px;
  width:17px;
  height:18px;
}
#u2502 {
  position:absolute;
  left:2px;
  top:1px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2503_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u2503 {
  position:absolute;
  left:237px;
  top:520px;
  width:45px;
  height:14px;
  font-size:11px;
  color:#666666;
}
#u2504 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u2505 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2506_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:18px;
}
#u2506 {
  position:absolute;
  left:146px;
  top:498px;
  width:17px;
  height:18px;
}
#u2507 {
  position:absolute;
  left:2px;
  top:1px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2508_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#339966;
}
#u2508 {
  position:absolute;
  left:132px;
  top:520px;
  width:45px;
  height:14px;
  font-size:11px;
  color:#339966;
}
#u2509 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u2510 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2511_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u2511 {
  position:absolute;
  left:23px;
  top:519px;
  width:45px;
  height:14px;
  font-size:11px;
  color:#666666;
}
#u2512 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u2513_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:18px;
}
#u2513 {
  position:absolute;
  left:34px;
  top:498px;
  width:23px;
  height:18px;
  color:#666666;
}
#u2514 {
  position:absolute;
  left:2px;
  top:1px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2515_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2515 {
  position:absolute;
  left:9px;
  top:6px;
  width:169px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2516 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u2517_div {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:427px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2517 {
  position:absolute;
  left:345px;
  top:38px;
  width:307px;
  height:427px;
}
#u2518 {
  position:absolute;
  left:2px;
  top:206px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2519_div {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:405px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2519 {
  position:absolute;
  left:345px;
  top:38px;
  width:307px;
  height:405px;
}
#u2520 {
  position:absolute;
  left:2px;
  top:194px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2521_div {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#5DAB9E;
  text-align:left;
}
#u2521 {
  position:absolute;
  left:349px;
  top:38px;
  width:299px;
  height:44px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#5DAB9E;
  text-align:left;
}
#u2522 {
  position:absolute;
  left:2px;
  top:13px;
  width:295px;
  word-wrap:break-word;
}
#u2523_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:14px;
}
#u2523 {
  position:absolute;
  left:414px;
  top:55px;
  width:12px;
  height:14px;
}
#u2524 {
  position:absolute;
  left:2px;
  top:-1px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2525_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:14px;
}
#u2525 {
  position:absolute;
  left:534px;
  top:55px;
  width:16px;
  height:14px;
}
#u2526 {
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2527_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u2527 {
  position:absolute;
  left:432px;
  top:55px;
  width:92px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u2528 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u2529_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u2529 {
  position:absolute;
  left:555px;
  top:55px;
  width:92px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u2530 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u2531 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2532_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u2532 {
  position:absolute;
  left:363px;
  top:110px;
  width:60px;
  height:60px;
}
#u2533 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2534_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2534 {
  position:absolute;
  left:353px;
  top:170px;
  width:80px;
  height:27px;
  font-size:12px;
  color:#666666;
}
#u2535 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u2536 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2537_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u2537 {
  position:absolute;
  left:468px;
  top:110px;
  width:60px;
  height:60px;
}
#u2538 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2539_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2539 {
  position:absolute;
  left:452px;
  top:170px;
  width:94px;
  height:27px;
  font-size:12px;
  color:#666666;
}
#u2540 {
  position:absolute;
  left:2px;
  top:4px;
  width:90px;
  word-wrap:break-word;
}
#u2541 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2542_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u2542 {
  position:absolute;
  left:573px;
  top:110px;
  width:60px;
  height:60px;
}
#u2543 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2544_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2544 {
  position:absolute;
  left:564px;
  top:170px;
  width:80px;
  height:27px;
  font-size:12px;
  color:#666666;
}
#u2545 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u2546 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2547_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u2547 {
  position:absolute;
  left:363px;
  top:213px;
  width:60px;
  height:60px;
}
#u2548 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2549_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2549 {
  position:absolute;
  left:353px;
  top:273px;
  width:80px;
  height:27px;
  font-size:12px;
  color:#666666;
}
#u2550 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u2551 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2552_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u2552 {
  position:absolute;
  left:468px;
  top:213px;
  width:60px;
  height:60px;
}
#u2553 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2554_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2554 {
  position:absolute;
  left:459px;
  top:273px;
  width:80px;
  height:27px;
  font-size:12px;
  color:#666666;
}
#u2555 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u2556 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2557_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u2557 {
  position:absolute;
  left:573px;
  top:213px;
  width:60px;
  height:60px;
}
#u2558 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2559_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2559 {
  position:absolute;
  left:564px;
  top:273px;
  width:80px;
  height:27px;
  font-size:12px;
  color:#666666;
}
#u2560 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u2561 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2562_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u2562 {
  position:absolute;
  left:363px;
  top:314px;
  width:60px;
  height:60px;
}
#u2563 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2564_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2564 {
  position:absolute;
  left:353px;
  top:374px;
  width:80px;
  height:27px;
  font-size:12px;
  color:#666666;
}
#u2565 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u2566_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:40px;
  background:inherit;
  background-color:rgba(93, 171, 158, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2566 {
  position:absolute;
  left:345px;
  top:451px;
  width:309px;
  height:40px;
  font-size:14px;
  color:#FFFFFF;
}
#u2567 {
  position:absolute;
  left:2px;
  top:11px;
  width:305px;
  word-wrap:break-word;
}
#u2568_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2568 {
  position:absolute;
  left:345px;
  top:493px;
  width:309px;
  height:45px;
}
#u2569 {
  position:absolute;
  left:2px;
  top:14px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2570 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2571_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:18px;
}
#u2571 {
  position:absolute;
  left:597px;
  top:498px;
  width:17px;
  height:18px;
}
#u2572 {
  position:absolute;
  left:2px;
  top:1px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2573_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u2573 {
  position:absolute;
  left:583px;
  top:520px;
  width:45px;
  height:14px;
  font-size:11px;
  color:#666666;
}
#u2574 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u2575 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2576_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:18px;
}
#u2576 {
  position:absolute;
  left:492px;
  top:498px;
  width:17px;
  height:18px;
}
#u2577 {
  position:absolute;
  left:2px;
  top:1px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2578_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#339966;
}
#u2578 {
  position:absolute;
  left:478px;
  top:520px;
  width:45px;
  height:14px;
  font-size:11px;
  color:#339966;
}
#u2579 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u2580 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2581_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u2581 {
  position:absolute;
  left:369px;
  top:519px;
  width:45px;
  height:14px;
  font-size:11px;
  color:#666666;
}
#u2582 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u2583_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:18px;
}
#u2583 {
  position:absolute;
  left:380px;
  top:498px;
  width:23px;
  height:18px;
  color:#666666;
}
#u2584 {
  position:absolute;
  left:2px;
  top:1px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2585_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:98px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.647058823529412);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2585 {
  position:absolute;
  left:401px;
  top:146px;
  width:210px;
  height:98px;
  color:#FFFFFF;
}
#u2586 {
  position:absolute;
  left:2px;
  top:41px;
  width:206px;
  word-wrap:break-word;
}
#u2587_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2587 {
  position:absolute;
  left:359px;
  top:6px;
  width:169px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2588 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u2589 {
  position:absolute;
  left:690px;
  top:38px;
}
#u2589_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:310px;
  height:37px;
  background-image:none;
}
#u2589_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2590_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u2590 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:37px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u2591 {
  position:absolute;
  left:2px;
  top:10px;
  width:306px;
  word-wrap:break-word;
}
#u2592_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#1E1E1E;
  text-align:left;
}
#u2592 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:37px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#1E1E1E;
  text-align:left;
}
#u2592_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#1E1E1E;
  text-align:left;
}
#u2592.mouseDown {
}
#u2593 {
  position:absolute;
  left:20px;
  top:10px;
  width:61px;
  word-wrap:break-word;
}
#u2594_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:463px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2594 {
  position:absolute;
  left:691px;
  top:75px;
  width:309px;
  height:463px;
}
#u2595 {
  position:absolute;
  left:2px;
  top:224px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2596_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:102px;
}
#u2596 {
  position:absolute;
  left:735px;
  top:143px;
  width:219px;
  height:101px;
}
#u2597 {
  position:absolute;
  left:2px;
  top:42px;
  width:215px;
  word-wrap:break-word;
}
#u2598_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
#u2598 {
  position:absolute;
  left:735px;
  top:266px;
  width:219px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
#u2599 {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  word-wrap:break-word;
}
#u2601_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2601 {
  position:absolute;
  left:690px;
  top:493px;
  width:309px;
  height:45px;
}
#u2602 {
  position:absolute;
  left:2px;
  top:14px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2603 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2604_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:18px;
}
#u2604 {
  position:absolute;
  left:942px;
  top:498px;
  width:17px;
  height:18px;
}
#u2605 {
  position:absolute;
  left:2px;
  top:1px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2606_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u2606 {
  position:absolute;
  left:928px;
  top:520px;
  width:45px;
  height:14px;
  font-size:11px;
  color:#666666;
}
#u2607 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u2608 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2609_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:18px;
}
#u2609 {
  position:absolute;
  left:837px;
  top:498px;
  width:17px;
  height:18px;
}
#u2610 {
  position:absolute;
  left:2px;
  top:1px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2611_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#339966;
}
#u2611 {
  position:absolute;
  left:823px;
  top:520px;
  width:45px;
  height:14px;
  font-size:11px;
  color:#339966;
}
#u2612 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u2613 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2614_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u2614 {
  position:absolute;
  left:714px;
  top:519px;
  width:45px;
  height:14px;
  font-size:11px;
  color:#666666;
}
#u2615 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u2616_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:18px;
}
#u2616 {
  position:absolute;
  left:725px;
  top:498px;
  width:23px;
  height:18px;
  color:#666666;
}
#u2617 {
  position:absolute;
  left:2px;
  top:1px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2618_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2618 {
  position:absolute;
  left:700px;
  top:6px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2619 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
