body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:649px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:549px;
}
#u234 {
  position:absolute;
  left:0px;
  top:-48px;
  width:309px;
  height:549px;
}
#u235 {
  position:absolute;
  left:2px;
  top:266px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:82px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#FF0000;
}
#u236 {
  position:absolute;
  left:339px;
  top:0px;
  width:310px;
  height:82px;
  color:#FF0000;
}
#u237 {
  position:absolute;
  left:10px;
  top:10px;
  width:290px;
  word-wrap:break-word;
}
