body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1324px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2620_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:723px;
}
#u2620 {
  position:absolute;
  left:497px;
  top:43px;
  width:338px;
  height:723px;
}
#u2621 {
  position:absolute;
  left:2px;
  top:354px;
  width:334px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2622_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:723px;
}
#u2622 {
  position:absolute;
  left:0px;
  top:43px;
  width:340px;
  height:723px;
}
#u2623 {
  position:absolute;
  left:2px;
  top:354px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2624_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u2624 {
  position:absolute;
  left:29px;
  top:0px;
  width:30px;
  height:40px;
}
#u2625 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2626_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2626 {
  position:absolute;
  left:69px;
  top:9px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2627 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2628_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u2628 {
  position:absolute;
  left:518px;
  top:0px;
  width:30px;
  height:40px;
}
#u2629 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2630_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2630 {
  position:absolute;
  left:558px;
  top:9px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2631 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2632_img {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:726px;
}
#u2632 {
  position:absolute;
  left:984px;
  top:43px;
  width:339px;
  height:726px;
}
#u2633 {
  position:absolute;
  left:2px;
  top:355px;
  width:335px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2634_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u2634 {
  position:absolute;
  left:1018px;
  top:0px;
  width:30px;
  height:40px;
}
#u2635 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2636_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2636 {
  position:absolute;
  left:1058px;
  top:9px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2637 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2638_img {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:726px;
}
#u2638 {
  position:absolute;
  left:2px;
  top:904px;
  width:337px;
  height:726px;
}
#u2639 {
  position:absolute;
  left:2px;
  top:355px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2640_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u2640 {
  position:absolute;
  left:29px;
  top:854px;
  width:30px;
  height:40px;
}
#u2641 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2642 {
  position:absolute;
  left:69px;
  top:863px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2643 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2644_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:725px;
}
#u2644 {
  position:absolute;
  left:497px;
  top:904px;
  width:341px;
  height:725px;
}
#u2645 {
  position:absolute;
  left:2px;
  top:354px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2646_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u2646 {
  position:absolute;
  left:518px;
  top:854px;
  width:30px;
  height:40px;
}
#u2647 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2648_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2648 {
  position:absolute;
  left:558px;
  top:863px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2649 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:725px;
}
#u2650 {
  position:absolute;
  left:984px;
  top:904px;
  width:340px;
  height:725px;
}
#u2651 {
  position:absolute;
  left:2px;
  top:354px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2652_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u2652 {
  position:absolute;
  left:1018px;
  top:854px;
  width:30px;
  height:40px;
}
#u2653 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2654 {
  position:absolute;
  left:1058px;
  top:863px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2655 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2656 {
  position:absolute;
  left:172px;
  top:279px;
  width:0px;
  height:0px;
}
#u2656_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:202px;
  height:8px;
}
#u2656_seg1 {
  position:absolute;
  left:194px;
  top:-72px;
  width:8px;
  height:76px;
}
#u2656_seg2 {
  position:absolute;
  left:194px;
  top:-72px;
  width:260px;
  height:8px;
}
#u2656_seg3 {
  position:absolute;
  left:439px;
  top:-78px;
  width:20px;
  height:20px;
}
#u2657 {
  position:absolute;
  left:148px;
  top:-71px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2658 {
  position:absolute;
  left:257px;
  top:614px;
  width:0px;
  height:0px;
}
#u2658_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:230px;
}
#u2658_seg1 {
  position:absolute;
  left:-4px;
  top:222px;
  width:905px;
  height:8px;
}
#u2658_seg2 {
  position:absolute;
  left:893px;
  top:222px;
  width:8px;
  height:68px;
}
#u2658_seg3 {
  position:absolute;
  left:887px;
  top:275px;
  width:20px;
  height:20px;
}
#u2659 {
  position:absolute;
  left:318px;
  top:218px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2660 {
  position:absolute;
  left:762px;
  top:655px;
  width:0px;
  height:0px;
}
#u2660_seg0 {
  position:absolute;
  left:-4px;
  top:-28px;
  width:8px;
  height:28px;
}
#u2660_seg1 {
  position:absolute;
  left:-4px;
  top:-28px;
  width:331px;
  height:8px;
}
#u2660_seg2 {
  position:absolute;
  left:312px;
  top:-34px;
  width:20px;
  height:20px;
}
#u2661 {
  position:absolute;
  left:102px;
  top:-32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2662 {
  position:absolute;
  left:563px;
  top:663px;
  width:0px;
  height:0px;
}
#u2662_seg0 {
  position:absolute;
  left:-217px;
  top:-4px;
  width:217px;
  height:8px;
}
#u2662_seg1 {
  position:absolute;
  left:-217px;
  top:-4px;
  width:8px;
  height:417px;
}
#u2662_seg2 {
  position:absolute;
  left:-313px;
  top:405px;
  width:104px;
  height:8px;
}
#u2662_seg3 {
  position:absolute;
  left:-318px;
  top:399px;
  width:20px;
  height:20px;
}
#u2663 {
  position:absolute;
  left:-263px;
  top:140px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2664 {
  position:absolute;
  left:257px;
  top:1310px;
  width:0px;
  height:0px;
}
#u2664_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:334px;
}
#u2664_seg1 {
  position:absolute;
  left:-4px;
  top:326px;
  width:905px;
  height:8px;
}
#u2664_seg2 {
  position:absolute;
  left:893px;
  top:319px;
  width:8px;
  height:15px;
}
#u2664_seg3 {
  position:absolute;
  left:887px;
  top:314px;
  width:20px;
  height:20px;
}
#u2665 {
  position:absolute;
  left:239px;
  top:322px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2666 {
  position:absolute;
  left:812px;
  top:1481px;
  width:0px;
  height:0px;
}
#u2666_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u2666_seg1 {
  position:absolute;
  left:96px;
  top:-218px;
  width:8px;
  height:222px;
}
#u2666_seg2 {
  position:absolute;
  left:96px;
  top:-218px;
  width:76px;
  height:8px;
}
#u2666_seg3 {
  position:absolute;
  left:157px;
  top:-224px;
  width:20px;
  height:20px;
}
#u2667 {
  position:absolute;
  left:50px;
  top:-101px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2668 {
  position:absolute;
  left:803px;
  top:1397px;
  width:0px;
  height:0px;
}
#u2668_seg0 {
  position:absolute;
  left:-4px;
  top:-595px;
  width:8px;
  height:595px;
}
#u2668_seg1 {
  position:absolute;
  left:-4px;
  top:-595px;
  width:359px;
  height:8px;
}
#u2668_seg2 {
  position:absolute;
  left:347px;
  top:-628px;
  width:8px;
  height:41px;
}
#u2668_seg3 {
  position:absolute;
  left:341px;
  top:-633px;
  width:20px;
  height:20px;
}
#u2669 {
  position:absolute;
  left:-50px;
  top:-498px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2670 {
  position:absolute;
  left:1270px;
  top:211px;
  width:0px;
  height:0px;
}
#u2670_seg0 {
  position:absolute;
  left:-374px;
  top:-4px;
  width:374px;
  height:8px;
}
#u2670_seg1 {
  position:absolute;
  left:-374px;
  top:-4px;
  width:8px;
  height:1077px;
}
#u2670_seg2 {
  position:absolute;
  left:-431px;
  top:1065px;
  width:65px;
  height:8px;
}
#u2670_seg3 {
  position:absolute;
  left:-436px;
  top:1059px;
  width:20px;
  height:20px;
}
#u2671 {
  position:absolute;
  left:-420px;
  top:372px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
